@font-face {
    font-family: Karla;
    src: url("../fonts/Karla/Karla-VariableFont_wght.ttf");
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* ===== VARIABLES ===== */
:root {
    /* FONTS */
    --primary_font_size: 1.8rem;
    --secondary_font_size: 1.6rem;
    --primary_font_size_laptop_tablet: 1.6rem;
    --secondary_font_size_laptop_tablet: 1.4rem;
    --primary_font_size_smartphone: clamp(1.6rem, 5vw, 2.5rem);
    --secondary_font_size_smartphone: clamp(1.4rem, 4vw, 2rem);
    /* Font-Color */
    --primary_color: #323A45;
    --secondary_color: #848484;
    /* Padding */
    --desktop_side_padding: 0 10rem 0 10rem; 
    --laptop_side_padding: 0 6rem 0 6rem;
    --tablet_side_padding: 0 5rem 0 5rem;
    --mobile_side_padding: 0 2.5rem 0 2.5rem;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Karla;
    font-weight: 400;
    color: var(--primary_color);
    max-width: 1200px;
    border: 1px solid #d0cbcb9f;
    margin: auto;
    transition: linear all 5s;
}


/* Styles for === DESKTOP-Size === */

/* ===== HEADER ===== */
.grid_container_header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5vh 0 5vh 0;
    padding: var(--desktop_side_padding);
}

header h1 a {
    display: block;
    text-decoration: none;
    color: var(--primary_color);
    font-size: 2.5rem;
    /* make rem here? */
    font-weight: 600;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--primary_color);
    font-size: var(--secondary_font_size);
    margin-left: 4rem;
}

header a:hover{
    color: var(--secondary_color);
}


/* ===== MAIN ===== */
.grid_container_section {
    /* === one section = 1 big img + 6 small ones */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40% 1fr 1fr;
    column-gap: 2vw;
    row-gap: 4vh;
    grid-template-areas: 
        'big_img big_img big_img'
        'small_1 small_2 small_3'
        'small_4 small_5 small_6';
    padding: var(--desktop_side_padding);
    margin-bottom: 6vh;
}

.grid_container_section:nth-child(4) {
    grid-template-rows: 60% 1fr;
    grid-template-areas: 
        'big_img big_img big_img'
        'small_1 small_2 small_3';
}

.product_1 { grid-area: big_img; }
.product_2 { grid-area: small_1; }
.product_3 { grid-area: small_2; }
.product_4 { grid-area: small_3; }
.product_5 { grid-area: small_4; }
.product_6 { grid-area: small_5; }
.product_7 { grid-area: small_6; }

.grid_container_article {
    /* === one article = img + description === */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 90% 1fr;
    gap: 1vw;
    align-items: center;
}

.grid_container_img_descr {
    /* === left = product & company name / right = price === */
    display: grid;
    grid-template-columns: repeat(2, auto);
    font-size: var(--primary_font_size);
}

.grid_container_img_descr>p {
    margin-left: auto;
    margin-top: 4px;
}

.container_product_name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.container_product_name p{
    line-height: 1.5;
}

.container_product_name p:nth-child(2) {
    color: var(--secondary_color);
    font-weight: 300;
}

img {
    width: 100%;
    display: block;
}

img:hover {
    filter: saturate(10%) brightness(70%);
}


/* ===== FOOTER ===== */
footer {
    padding: var(--desktop_side_padding);
    margin: 10vh 0 2vh 0;
}

.grid_container_footer_nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 2.3vw;
    margin-bottom: 4vh;
}

.footer_grid_items {
    line-height: 1.8;
    font-size: var(--secondary_font_size);
}

.footer_grid_items h3 {
    margin-bottom: 3vh;
    font-size: var(--primary_font_size);
    font-weight: 400;
}

.footer_grid_items #font_italic {
    font-style: italic;
}

footer span {
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: var(--primary_color);
}

footer a:hover{
    color: var(--secondary_color);
}

footer>p a {
    color: var(--secondary_color);
    font-size: var(--secondary_font_size);
    font-weight: 200;
}

#bullet_point {
    color: var(--secondary_color);
    margin-left: .5rem;
    margin-right: .5rem;
}

/* Styles for ===== Laptop-Size ===== */
@media screen and (max-width: 1024px) {
    .grid_container_header {
        padding: var(--laptop_side_padding);
    }

    header nav a {
        margin-left: 2rem;
    }

    header nav a,
    .footer_grid_items,
    footer>p a {
        font-size: var(--secondary_font_size_laptop_tablet);
    }

    .grid_container_img_descr,
    .footer_grid_items h3  {
        font-size: var(--primary_font_size_laptop_tablet);
    }

    .grid_container_section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 20% repeat(3, 1fr);
        grid-template-areas: 
            'big_img big_img'
            'small_1 small_2'
            'small_3 small_4'
            'small_5 small_6';
        padding: var(--laptop_side_padding);
    }

    .grid_container_section:nth-child(3) {
        margin-bottom: 4vh;
    }

    .grid_container_section:nth-child(4) {
        grid-template-rows: .8fr 2.3fr 1.15fr;
        grid-template-areas: 
            'big_img big_img'
            'small_1 small_1'
            'small_2 small_3';
    }

    footer {
        padding: var(--laptop_side_padding);
    }

    .footer_grid_items:nth-child(1), 
    .footer_grid_items:nth-child(2), 
    .footer_grid_items:nth-child(3) {
        margin-right: .5rem;
    }
}

/* Styles for ===== TABLET-Size ===== */
@media screen and (max-width: 768px) {

    .grid_container_header {
        margin: 3vh 0 1vh 0;
        padding: var(--tablet_side_padding);
    }

    header h1 a {
       /*  font-size: clamp(2.6rem, 5.3vw, 4rem); */
        font-size: 2.3rem;
    }

    header nav {
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-end;
        line-height: 1.5;
    }

    header nav a {
        margin-left: 0;
    }

    .grid_container_section{
        padding: var(--tablet_side_padding);
    }

    .grid_container_img_descr div {
        margin-right: 1.5vw;
    }

    footer {
        padding: var(--tablet_side_padding);
    }

    .grid_container_footer_nav {
        grid-template-columns: 65% 1fr;
        grid-template-rows: repeat(2, auto);
        row-gap: 6vh;
        margin-bottom: 6vh;
    }
}

/* Styles for ===== SMARTPHONE-Size ===== */
@media screen and (max-width: 500px) {

    .grid_container_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: var(--mobile_side_padding);
    }

    header h1 a {
        font-size: var(--primary_font_size_smartphone);
        font-weight: 600;
        margin-top: clamp(8.3rem, 22vw, 11rem);
    }

    header nav {
        line-height: .8;
    } 

    header nav a {
        margin-bottom: 2vh;
        text-align: right;
        font-size: var(--secondary_font_size_smartphone);
    }

    .grid_container_section {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 8.3% repeat(6, 1fr);
        row-gap: 5vh;
        grid-template-areas: 
            'big_img '
            'small_1' 
            'small_2' 
            'small_3'
            'small_4' 
            'small_5' 
            'small_6';
        padding: var(--mobile_side_padding);
    }

    .grid_container_section:nth-child(4) {
        grid-template-rows: 8.3% repeat(3, 1fr);
        grid-template-areas: 
            'big_img '
            'small_1' 
            'small_2' 
            'small_3';
        margin-bottom: 5vh;
    }

    .product_1 {
        grid-template-rows: 70% 1fr;
        margin-top: 1.5vh;
    }

    .grid_container_img_descr,
    .footer_grid_items h3 { 
        font-size: var(--primary_font_size_smartphone);
    }

    .footer_grid_items,
    footer>p a {
        font-size: var(--secondary_font_size_smartphone);
    }

    footer {
        padding: var(--mobile_side_padding);
    }

    .grid_container_footer_nav {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
}
